.container{
    position: absolute;
    top: 40%;
    left: 40%;
}

 /* button{
    width: 150px;
    height: 30px;
    color: rgb(253, 132, 152);
    border-color: rgb(250, 139, 157) ;
    border-radius: 5px;

     transition-property: transform;
    transition-duration: 1s;
    transition-delay: 0;
    transition-timing-function: ease; 

    transition: all 1s;
}

button:hover{
    transform: translateY(-15px);
    color: white;
    background-color: pink;
}  */

@keyframes slideLeft {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.animate{
    animation-duration: 1s;
}
.animateFast{
    animation-duration: 0.6s;
}
.animateSlow{
    animation-duration: 4s;
}
.animateInfinity{
    animation-iteration-count: infinite;
}
.animateReverse{
    animation-direction: reverse;
}

.slideLeft{
    animation-name: slideLeft;
}

 /* .textAnimation{

    animation: slideLeft 1s ease-in;

   animation-name: slideLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal; 

}  */